<div class="row">
  <div class="large-2 columns">
    <button class="button secondary small logout postfix" ng-click="home()">&laquo; Home Page</button>
  </div>
  <div class="large-2 large-offset-8 columns">
    <button class="button secondary small logout postfix" ng-click="logout()">Log Out</button>
  </div>
</div>

<div class="row" class="details">
  <div class="large-12 columns" ng-repeat="video in videos">
  	
    <div class="video-wrap inload">
      <div class="run" style="display:none"></div>
      <video width="100%" controls video-loader autoplay preload="metadata">
        <source ng-src="{{video.url}}" type="video/mp4" />
      </video>
    </div>
    <div class="name">{{ video.name }}</div>
    <div class="ratings">
      <div class="rat" rating="rating(video._id,1)"></div>
      <div class="rat" rating="rating(video._id,2)"></div>
      <div class="rat" rating="rating(video._id,3)"></div>
      <div class="rat" rating="rating(video._id,4)"></div>
      <div class="rat" rating="rating(video._id,5)"></div>
      <!-- <div class="rat r{{rat}}" ng-repeat="rat in [1,2,3,4,5]" rating="rating(video._id,rat)"></div> -->
      <div class="done" style="width:{{video.avg*100/5}}%"></div>
    </div>
    <div class="overall">{{video.ratings.length}} votes recorded ({{average(video.ratings).toFixed(1)}} rating)</div>
    <p class="desc">
    	{{ video.description }}
    </p>
  </div>
</div>
